@media screen and (max-width: 769px) {
.header{
    background: none;
    background-color: rgb(255, 255, 255);}

.cajaFotosGrid{
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 150px;
    padding: 10px;}

.produccionCaja{
    display: flex;
    flex-direction: column;}

.fotoancho{
    grid-column-start:span 1 ;}

}

@media screen and (max-width: 640px){

.form{
    width: 100%;}

.cajaFotosGrid{
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 150px;
    padding: 5px;} 

.carruselAdaptado{
    transform: scale(0.9);
    display: flex;
    justify-content: center; }

.produccionCaja{
    display: flex;
    flex-direction: column;
}

.fotoancho{
    grid-column-start:span 1 ;}

.videoAdaptado{
    transform: scale(0.9);
    display: flex;
    justify-content: center;}


.containerCards{
    margin-top: 10px;
    padding-bottom: 65px;
    padding-left: 35px;
    padding-right: 0px;


}

.asideVenta{
    h3{
        padding-left: 50px;
    }
}


.nosotrosCard{
    h3{
        padding-left: 20px;
    }
}


.encuadreTexto{
    h3{
        padding-left: 50px;
    }
}

.maps{
    transform: scale(0.9);
    padding-left: 20px;
    padding-right: 0px;
    h2{
        padding-left: 90px;
    }
}

.encuadreTextoIndex{
    h3{
        padding-left: 20px;
    }
}

}
